<!DOCTYPE html>
<html>
  <head>
    <title>Create Account</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <h1>Create Account</h1>
    <form method="post">
      <label for="account_number">Account Number:</label>
      <input
        type="text"
        id="account_number"
        name="account_number"
        required
      /><br />
      <label for="account_holder">Account Holder:</label>
      <input
        type="text"
        id="account_holder"
        name="account_holder"
        required
      /><br />
      <input type="submit" value="Create Account" />
    </form>
    <a href="{{ url_for('index') }}">Back to Home</a>
  </body>
</html>
