<!DOCTYPE html>
<html>
  <head>
    <title>Simple Banking Application</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <h1>Simple Banking Application</h1>
    <div class="menu">
      <a href="{{ url_for('create_account') }}">Create a new account</a>
      <a href="{{ url_for('deposit') }}">Deposit money</a>
      <a href="{{ url_for('withdraw') }}">Withdraw money</a>
      <a href="{{ url_for('check_balance') }}">Check balance</a>
    </div>
  </body>
</html>
